*{
    padding: 0 ;
    margin: 0 ;
    font-family: "微软雅黑" ;
}

h2 {
    color: black;
}

.header {
    height: 72px ;
    background: #458fce ;
}
.header .logo {
    float: left;
    color: #fff ;
    line-height: 72px ;
    font-size: 30px ;
    margin-left: 20px ;
    display:inline-block ;
    font-weight:500 ;
}
ul li {
    list-style: none ;
}
.header ul li.first {
    margin-left: 30px ;
}
.header ul li {
    float: left ;
    color: #fff ;
    display: inline-block ;
    width: 112px ;
    height: 72px ;
    text-align: center ;
    line-height:72px ;
    cursor: pointer ;
}
a {
    color: #fff;
    text-decoration: none ;
}
.header ul li:hover {
    background:#74b0e2 ;
}

.login {
    float: right ;
    color: yellow ;
    line-height: 72px ;
    margin-right: 20px ;
}

#banner_main {
    text-align: center;
    margin: 20px;
}
.category .title {
    margin-bottom: 10px;
    border-bottom: 1px solid #cac5c5;
    height: 30px;
    text-indent:1em;
    font-size:18px;
    color:#666;
}
.category .items {
    margin-left:10px;
}
.category .items .item {
    width: 230px;
    height: 320px;
    background: #ccc;
    margin: 20px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}

.item-banner {
    background-color: #666666;
    color: #ffffff;
}

.item-header {
    font-size: 12px;
    line-height: 52px;
}

.item-name {
    font-size: 22px;
    line-height: 74px;
}

.item-author {
    font-size: 14px;
    text-indent: 7em;
}

.item-description {
    color: azure;
    color: #83b3b3;
}
